## Importar librerías

In [24]:
import pandas as pd
import numpy as np
import os
from data_util import calc_missing

## Cargar datos

In [26]:
file_names = os.listdir('../data/metereologia/')
file_names

['abr_meteo22.csv',
 'ago_meteo22.csv',
 'dic_meteo22.csv',
 'ene_meteo22.csv',
 'feb_meteo22.csv',
 'jul_meteo22.csv',
 'jun_meteo22.csv',
 'mar_meteo22.csv',
 'may_meteo22.csv',
 'nov_meteo22.csv',
 'oct_meteo22.csv',
 'sep_meteo22.csv']

## Crear un único dataset con los datos del año 2022

In [27]:
df_meteo = pd.DataFrame()
for file_name in file_names:
    df_current = pd.read_csv('../data/metereologia/' + file_name, delimiter=';')
    print(file_name, df_current.shape)
    df_meteo = pd.concat([df_meteo, df_current], ignore_index=True)
df_meteo.head(3)

abr_meteo22.csv (2719, 56)
ago_meteo22.csv (2632, 56)
dic_meteo22.csv (1340, 56)
ene_meteo22.csv (2639, 56)
feb_meteo22.csv (2429, 56)
jul_meteo22.csv (2597, 56)
jun_meteo22.csv (2637, 56)
mar_meteo22.csv (2802, 56)
may_meteo22.csv (2832, 56)
nov_meteo22.csv (1290, 56)
oct_meteo22.csv (1333, 56)
sep_meteo22.csv (1260, 56)

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,102,81,28079102_81_98,2022,4,1,2.17,V,...,1.72,V,2.83,V,2.12,V,0.0,N,0.0,N
1,28,79,102,81,28079102_81_98,2022,4,2,2.70,V,...,3.42,V,2.82,V,2.78,V,3.3,V,0.0,N
2,28,79,102,81,28079102_81_98,2022,4,3,2.22,V,...,4.75,V,0.00,N,0.00,N,0.0,N,0.0,N

## Nos quedamos con los parámetros de las estaciones que nos interesan:

8, 18, 24, 35, 36

In [28]:
df_meteo  = df_meteo[(df_meteo['ESTACION'] == 8) | (df_meteo['ESTACION'] == 18) | (df_meteo['ESTACION'] == 24 ) |
                    (df_meteo['ESTACION'] == 35) | (df_meteo['ESTACION'] == 36)]
df_meteo.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
1466,28,79,8,83,28079008_83_98,2022,4,1,7.5,V,...,9.4,V,7.5,V,6.1,V,5.3,V,4.9,V
1467,28,79,8,83,28079008_83_98,2022,4,2,4.5,V,...,9.2,V,7.4,V,6.6,V,5.8,V,5.1,V
1468,28,79,8,83,28079008_83_98,2022,4,3,4.3,V,...,10.7,V,8.5,V,7.2,V,5.8,V,4.5,V
1469,28,79,8,83,28079008_83_98,2022,4,4,3.4,V,...,11.0,V,9.4,V,8.3,V,8.0,V,7.5,V
1470,28,79,8,83,28079008_83_98,2022,4,5,6.7,V,...,8.7,V,7.4,V,6.8,V,6.6,V,6.4,V

In [5]:
sorted(df_meteo['ESTACION'].unique())

[8, 18, 24, 35, 36]

# Nos quedamos con los parámetros que nos interesan: 
 velocidad del viento, la temperatura, la humedad relativa y las precipitaciones.

In [29]:
df_meteo = df_meteo[(df_meteo['MAGNITUD'] == 81) | (df_meteo['MAGNITUD'] == 82) | (df_meteo['MAGNITUD'] == 83) | (df_meteo['MAGNITUD'] == 86) | (df_meteo['MAGNITUD'] == 89)]
df_meteo.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
1466,28,79,8,83,28079008_83_98,2022,4,1,7.5,V,...,9.4,V,7.5,V,6.1,V,5.3,V,4.9,V
1467,28,79,8,83,28079008_83_98,2022,4,2,4.5,V,...,9.2,V,7.4,V,6.6,V,5.8,V,5.1,V
1468,28,79,8,83,28079008_83_98,2022,4,3,4.3,V,...,10.7,V,8.5,V,7.2,V,5.8,V,4.5,V
1469,28,79,8,83,28079008_83_98,2022,4,4,3.4,V,...,11.0,V,9.4,V,8.3,V,8.0,V,7.5,V
1470,28,79,8,83,28079008_83_98,2022,4,5,6.7,V,...,8.7,V,7.4,V,6.8,V,6.6,V,6.4,V

In [30]:
df_meteo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4355 entries, 1466 to 25729
Data columns (total 56 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       4355 non-null   int64
 1   MUNICIPIO       4355 non-null   int64
 2   ESTACION        4355 non-null   int64
 3   MAGNITUD        4355 non-null   int64
 4   PUNTO_MUESTREO  4355 non-null   object
 5   ANO             4355 non-null   int64
 6   MES             4355 non-null   int64
 7   DIA             4355 non-null   int64
 8   H01             4355 non-null   float64
 9   V01             4355 non-null   object
 10  H02             4355 non-null   float64
 11  V02             4355 non-null   object
 12  H03             4355 non-null   float64
 13  V03             4355 non-null   object
 14  H04             4355 non-null   float64
 15  V04             4355 non-null   object
 16  H05             4355 non-null   float64
 17  V05             4355 non-null   object
 18  H06             4355 non-null   float64
 19  V06             4355 non-null   object
 20  H07             4355 non-null   float64
 21  V07             4355 non-null   object
 22  H08             4355 non-null   float64
 23  V08             4355 non-null   object
 24  H09             4355 non-null   float64
 25  V09             4355 non-null   object
 26  H10             4355 non-null   float64
 27  V10             4355 non-null   object
 28  H11             4355 non-null   float64
 29  V11             4355 non-null   object
 30  H12             4355 non-null   float64
 31  V12             4355 non-null   object
 32  H13             4355 non-null   float64
 33  V13             4355 non-null   object
 34  H14             4355 non-null   float64
 35  V14             4355 non-null   object
 36  H15             4355 non-null   float64
 37  V15             4355 non-null   object
 38  H16             4355 non-null   float64
 39  V16             4355 non-null   object
 40  H17             4355 non-null   float64
 41  V17             4355 non-null   object
 42  H18             4355 non-null   float64
 43  V18             4355 non-null   object
 44  H19             4355 non-null   float64
 45  V19             4355 non-null   object
 46  H20             4355 non-null   float64
 47  V20             4355 non-null   object
 48  H21             4355 non-null   float64
 49  V21             4355 non-null   object
 50  H22             4355 non-null   float64
 51  V22             4355 non-null   object
 52  H23             4355 non-null   float64
 53  V23             4355 non-null   object
 54  H24             4355 non-null   float64
 55  V24             4355 non-null   object
dtypes: float64(24), int64(7), object(25)
memory usage: 1.9+ MB

## Preparación de los datos de salida

In [31]:
data_columns = [ 'H01', 'H02', 'H03', 'H04', 'H05', 'H06', 'H07', 'H08', 'H09', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15', 'H16', 'H17', 'H18', 'H19', 'H20', 'H21', 'H22', 'H23', 'H24'] # feature
veri_columns = [ 'V01', 'V02', 'V03', 'V04', 'V05', 'V06', 'V07', 'V08', 'V09', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24']

hora_column = np.arange(1,25) # feature label

data = pd.DataFrame(columns=['HORA', 'DATO', 'VERIFICADO'])
aux = pd.DataFrame(columns=['ANO', 'MES', 'DIA', 'HORA', 'DATO', 'VERIFICADO', 'ESTACION']) # aux de próxima fila a ser añadida
for  (h,d,v) in zip(hora_column, data_columns, veri_columns): 
    aux
    aux['DATO'] = df_meteo[ data_columns[h-1] ] 
    aux[['CODIGO', 'MAGNITUD', 'TECNICA']] = df_meteo['PUNTO_MUESTREO'].str.split('_', n=2, expand=True)
    aux['VERIFICADO'] = df_meteo[ veri_columns[h-1] ] 
    aux['HORA'] = h-1
    aux[['ANO', 'MES', 'DIA']] = df_meteo[['ANO','MES','DIA']]
    #aux['MAGNITUD'] = df_aire ['MAGNITUD']
    aux['ESTACION'] = df_meteo ['ESTACION']

    data = pd.concat([data, aux], ignore_index=True)
data = data.astype({'HORA': 'int32'}, copy = False)

data.head()

,HORA,DATO,VERIFICADO,ANO,MES,DIA,ESTACION,CODIGO,MAGNITUD,TECNICA
0,0,7.5,V,2022.0,4.0,1.0,8.0,28079008,83,98
1,0,4.5,V,2022.0,4.0,2.0,8.0,28079008,83,98
2,0,4.3,V,2022.0,4.0,3.0,8.0,28079008,83,98
3,0,3.4,V,2022.0,4.0,4.0,8.0,28079008,83,98
4,0,6.7,V,2022.0,4.0,5.0,8.0,28079008,83,98

# Añadimos columna fecha de formato datetime

In [32]:
data['FECHA'] = pd.to_datetime(data[['ANO','MES','DIA','HORA']].rename(columns = {'ANO': 'year', 'MES': 'month','DIA': 'day', 'HORA': 'hour'}))
data.head()

,HORA,DATO,VERIFICADO,ANO,MES,DIA,ESTACION,CODIGO,MAGNITUD,TECNICA,FECHA
0,0,7.5,V,2022.0,4.0,1.0,8.0,28079008,83,98,2022-04-01
1,0,4.5,V,2022.0,4.0,2.0,8.0,28079008,83,98,2022-04-02
2,0,4.3,V,2022.0,4.0,3.0,8.0,28079008,83,98,2022-04-03
3,0,3.4,V,2022.0,4.0,4.0,8.0,28079008,83,98,2022-04-04
4,0,6.7,V,2022.0,4.0,5.0,8.0,28079008,83,98,2022-04-05

# Ordenamos datos por orden cronológico

In [33]:
data = data.sort_values(['FECHA','HORA'])
data.head()

,HORA,DATO,VERIFICADO,ANO,MES,DIA,ESTACION,CODIGO,MAGNITUD,TECNICA,FECHA
1099,0,10.20,V,2022.0,1.0,1.0,8.0,28079008,83,98,2022-01-01
1130,0,69.00,V,2022.0,1.0,1.0,8.0,28079008,86,98,2022-01-01
1161,0,6.50,V,2022.0,1.0,1.0,18.0,28079018,83,98,2022-01-01
1192,0,0.45,V,2022.0,1.0,1.0,24.0,28079024,81,98,2022-01-01
1223,0,3.00,V,2022.0,1.0,1.0,24.0,28079024,82,98,2022-01-01

## Marcar datos no válidos en el DataFrame

Datos no verificados

In [34]:
data.loc[data['VERIFICADO'] != 'V', ['DATO']] = np.nan
data.loc[data['VERIFICADO'] != 'V']

,HORA,DATO,VERIFICADO,ANO,MES,DIA,ESTACION,CODIGO,MAGNITUD,TECNICA,FECHA
53455,12,NaN,N,2022.0,1.0,4.0,24.0,28079024,81,98,2022-01-04 12:00:00
53486,12,NaN,N,2022.0,1.0,4.0,24.0,28079024,82,98,2022-01-04 12:00:00
53517,12,NaN,N,2022.0,1.0,4.0,24.0,28079024,83,98,2022-01-04 12:00:00
53548,12,NaN,N,2022.0,1.0,4.0,24.0,28079024,86,98,2022-01-04 12:00:00
53579,12,NaN,N,2022.0,1.0,4.0,24.0,28079024,89,98,2022-01-04 12:00:00
...,...,...,...,...,...,...,...,...,...,...,...
39975,9,NaN,N,2022.0,12.0,23.0,8.0,28079008,86,98,2022-12-23 09:00:00
44299,10,NaN,N,2022.0,12.0,23.0,8.0,28079008,83,98,2022-12-23 10:00:00
44330,10,NaN,N,2022.0,12.0,23.0,8.0,28079008,86,98,2022-12-23 10:00:00
18420,4,NaN,N,2022.0,12.0,26.0,35.0,28079035,83,98,2022-12-26 04:00:00
18451,4,NaN,N,2022.0,12.0,26.0,35.0,28079035,86,98,2022-12-26 04:00:00

# Borramos columna verificado

In [35]:
data = data.drop('VERIFICADO', axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104520 entries, 1099 to 101263
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   HORA      104520 non-null  int32
 1   DATO      103637 non-null  float64
 2   ANO       104520 non-null  float64
 3   MES       104520 non-null  float64
 4   DIA       104520 non-null  float64
 5   ESTACION  104520 non-null  float64
 6   CODIGO    104520 non-null  object
 7   MAGNITUD  104520 non-null  object
 8   TECNICA   104520 non-null  object
 9   FECHA     104520 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int32(1), object(3)
memory usage: 8.4+ MB

## Añadir columnas que faltan y formatearlas

In [36]:
data = data.set_index(['CODIGO','FECHA', 'ANO', 'MES', 'DIA', 'HORA', 'ESTACION','MAGNITUD'])['DATO'].unstack(level=-1).reset_index()
data.head()

MAGNITUD,CODIGO,FECHA,ANO,MES,DIA,HORA,ESTACION,81,82,83,86,89
0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,0,8.0,NaN,NaN,10.2,69.0,NaN
1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,1,8.0,NaN,NaN,9.5,70.0,NaN
2,28079008,2022-01-01 02:00:00,2022.0,1.0,1.0,2,8.0,NaN,NaN,8.6,74.0,NaN
3,28079008,2022-01-01 03:00:00,2022.0,1.0,1.0,3,8.0,NaN,NaN,8.7,71.0,NaN
4,28079008,2022-01-01 04:00:00,2022.0,1.0,1.0,4,8.0,NaN,NaN,8.4,66.0,NaN

## Renombrar columnas

In [37]:
data = data.rename(columns={'81': 'VEL_VIENTO', '82': 'DIR_VIENTO', '83': 'TEMPERATURA', '86': 'HUMEDAD','89': 'PRECIPITACION'}, copy = False, errors = 'raise')
data.head()

MAGNITUD,CODIGO,FECHA,ANO,MES,DIA,HORA,ESTACION,VEL_VIENTO,DIR_VIENTO,TEMPERATURA,HUMEDAD,PRECIPITACION
0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,0,8.0,NaN,NaN,10.2,69.0,NaN
1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,1,8.0,NaN,NaN,9.5,70.0,NaN
2,28079008,2022-01-01 02:00:00,2022.0,1.0,1.0,2,8.0,NaN,NaN,8.6,74.0,NaN
3,28079008,2022-01-01 03:00:00,2022.0,1.0,1.0,3,8.0,NaN,NaN,8.7,71.0,NaN
4,28079008,2022-01-01 04:00:00,2022.0,1.0,1.0,4,8.0,NaN,NaN,8.4,66.0,NaN

# Añadimos columna para el día de la semana

In [38]:
dates = data['FECHA'].dt.to_pydatetime()
days_of_week = ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
data['DIA_SEMANA'] = np.array([days_of_week[d.weekday()] for d in dates])
data.head()

MAGNITUD,CODIGO,FECHA,ANO,MES,DIA,HORA,ESTACION,VEL_VIENTO,DIR_VIENTO,TEMPERATURA,HUMEDAD,PRECIPITACION,DIA_SEMANA
0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,0,8.0,NaN,NaN,10.2,69.0,NaN,Sabado
1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,1,8.0,NaN,NaN,9.5,70.0,NaN,Sabado
2,28079008,2022-01-01 02:00:00,2022.0,1.0,1.0,2,8.0,NaN,NaN,8.6,74.0,NaN,Sabado
3,28079008,2022-01-01 03:00:00,2022.0,1.0,1.0,3,8.0,NaN,NaN,8.7,71.0,NaN,Sabado
4,28079008,2022-01-01 04:00:00,2022.0,1.0,1.0,4,8.0,NaN,NaN,8.4,66.0,NaN,Sabado

## Datos no válidos

In [39]:
calc_missing(data)

VEL_VIENTO 34846 / 43536= 80.04 %
DIR_VIENTO 34846 / 43536= 80.04 %
TEMPERATURA 484 / 43536= 1.11 %
HUMEDAD 9023 / 43536= 20.73 %
PRECIPITACION 34844 / 43536= 80.03 %

In [42]:
variables = ['VEL_VIENTO', 'DIR_VIENTO', 'TEMPERATURA','HUMEDAD','PRECIPITACION']
datos = data [variables]
datos

MAGNITUD  VEL_VIENTO  DIR_VIENTO  TEMPERATURA  HUMEDAD  PRECIPITACION
0                NaN         NaN         10.2     69.0            NaN
1                NaN         NaN          9.5     70.0            NaN
2                NaN         NaN          8.6     74.0            NaN
3                NaN         NaN          8.7     71.0            NaN
4                NaN         NaN          8.4     66.0            NaN
...              ...         ...          ...      ...            ...
43531            NaN         NaN         10.0     61.0            NaN
43532            NaN         NaN          9.8     61.0            NaN
43533            NaN         NaN          9.5     63.0            NaN
43534            NaN         NaN          8.9     69.0            NaN
43535            NaN         NaN          8.6     69.0            NaN

[43536 rows x 5 columns]

In [46]:
# buscamos si hay algún caso con algún campo con valor 0 o negativo donde no debería
(datos <= 0).any()

MAGNITUD
VEL_VIENTO       False
DIR_VIENTO        True
TEMPERATURA       True
HUMEDAD          False
PRECIPITACION     True
dtype: bool

In [48]:
dir_viento_neg_idx = data['DIR_VIENTO'] < 0
data[dir_viento_neg_idx]

Empty DataFrame
Columns: [CODIGO, FECHA, ANO, MES, DIA, HORA, ESTACION, VEL_VIENTO, DIR_VIENTO, TEMPERATURA, HUMEDAD, PRECIPITACION, DIA_SEMANA]
Index: []

In [50]:
precipitacion_neg_idx = data['PRECIPITACION'] < 0
data[precipitacion_neg_idx]

Empty DataFrame
Columns: [CODIGO, FECHA, ANO, MES, DIA, HORA, ESTACION, VEL_VIENTO, DIR_VIENTO, TEMPERATURA, HUMEDAD, PRECIPITACION, DIA_SEMANA]
Index: []

## Tratamiento de valores perdidos o no válidos

In [51]:
# Número de datos no válidos
null_idx = data.isnull().any(axis=1)
len(data[data.isnull().any(axis=1)])

34848

In [52]:
null_idx = data.isnull().any(axis=1)
data[null_idx]

MAGNITUD,CODIGO,FECHA,ANO,MES,DIA,HORA,ESTACION,VEL_VIENTO,DIR_VIENTO,TEMPERATURA,HUMEDAD,PRECIPITACION,DIA_SEMANA
0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,0,8.0,NaN,NaN,10.2,69.0,NaN,Sabado
1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,1,8.0,NaN,NaN,9.5,70.0,NaN,Sabado
2,28079008,2022-01-01 02:00:00,2022.0,1.0,1.0,2,8.0,NaN,NaN,8.6,74.0,NaN,Sabado
3,28079008,2022-01-01 03:00:00,2022.0,1.0,1.0,3,8.0,NaN,NaN,8.7,71.0,NaN,Sabado
4,28079008,2022-01-01 04:00:00,2022.0,1.0,1.0,4,8.0,NaN,NaN,8.4,66.0,NaN,Sabado
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43531,28079036,2022-12-31 19:00:00,2022.0,12.0,31.0,19,36.0,NaN,NaN,10.0,61.0,NaN,Sabado
43532,28079036,2022-12-31 20:00:00,2022.0,12.0,31.0,20,36.0,NaN,NaN,9.8,61.0,NaN,Sabado
43533,28079036,2022-12-31 21:00:00,2022.0,12.0,31.0,21,36.0,NaN,NaN,9.5,63.0,NaN,Sabado
43534,28079036,2022-12-31 22:00:00,2022.0,12.0,31.0,22,36.0,NaN,NaN,8.9,69.0,NaN,Sabado
43535,28079036,2022-12-31 23:00:00,2022.0,12.0,31.0,23,36.0,NaN,NaN,8.6,69.0,NaN,Sabado

In [53]:
# Otra alternativa mejor es llenarlos con último valor válido anterior:
data.fillna(method='ffill', inplace = True )

In [54]:
# Número de datos no válidos
len(data[data.isnull().any(axis=1)])

17520

In [60]:
data.fillna(0, inplace=True)

In [61]:
# Número de datos no válidos
len(data[data.isnull().any(axis=1)])

0

In [62]:
data[null_idx]

MAGNITUD,CODIGO,FECHA,ANO,MES,DIA,HORA,ESTACION,VEL_VIENTO,DIR_VIENTO,TEMPERATURA,HUMEDAD,PRECIPITACION,DIA_SEMANA
0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,0,8.0,0.00,0.0,10.2,69.0,0.0,Sabado
1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,1,8.0,0.00,0.0,9.5,70.0,0.0,Sabado
2,28079008,2022-01-01 02:00:00,2022.0,1.0,1.0,2,8.0,0.00,0.0,8.6,74.0,0.0,Sabado
3,28079008,2022-01-01 03:00:00,2022.0,1.0,1.0,3,8.0,0.00,0.0,8.7,71.0,0.0,Sabado
4,28079008,2022-01-01 04:00:00,2022.0,1.0,1.0,4,8.0,0.00,0.0,8.4,66.0,0.0,Sabado
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43531,28079036,2022-12-31 19:00:00,2022.0,12.0,31.0,19,36.0,0.67,195.0,10.0,61.0,0.0,Sabado
43532,28079036,2022-12-31 20:00:00,2022.0,12.0,31.0,20,36.0,0.67,195.0,9.8,61.0,0.0,Sabado
43533,28079036,2022-12-31 21:00:00,2022.0,12.0,31.0,21,36.0,0.67,195.0,9.5,63.0,0.0,Sabado
43534,28079036,2022-12-31 22:00:00,2022.0,12.0,31.0,22,36.0,0.67,195.0,8.9,69.0,0.0,Sabado
43535,28079036,2022-12-31 23:00:00,2022.0,12.0,31.0,23,36.0,0.67,195.0,8.6,69.0,0.0,Sabado

In [17]:
data.shape

(43536, 13)

In [63]:
data['DIR_VIENTO'].values

array([  0.,   0.,   0., ..., 195., 195., 195.])

In [66]:
# Discretizamos variable dirección viento en las siguientes 8 categorías separadas cada una por 45º: [338, 23, 68, 113, 158, 203, 248, 293]
data['DIR_VIENTO'] = pd.to_numeric(data['DIR_VIENTO'], errors='coerce')

data['DIR_VIENTO_CARDINAL'] = ((data['DIR_VIENTO'] + 22) / 45) % 8
#data['dir_viento_cardinal'] = ((data['dir_viento'] + 22) / 45) % 8
direcciones = ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW']

data['DIR_VIENTO_CARDINAL'] = data['DIR_VIENTO_CARDINAL'].apply(lambda x: direcciones[int (x)])
data['DIR_VIENTO_CARDINAL']
data.head()

MAGNITUD,CODIGO,FECHA,ANO,MES,DIA,HORA,ESTACION,VEL_VIENTO,DIR_VIENTO,TEMPERATURA,HUMEDAD,PRECIPITACION,DIA_SEMANA,DIR_VIENTO_CARDINAL
0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,0,8.0,0.0,0.0,10.2,69.0,0.0,Sabado,N
1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,1,8.0,0.0,0.0,9.5,70.0,0.0,Sabado,N
2,28079008,2022-01-01 02:00:00,2022.0,1.0,1.0,2,8.0,0.0,0.0,8.6,74.0,0.0,Sabado,N
3,28079008,2022-01-01 03:00:00,2022.0,1.0,1.0,3,8.0,0.0,0.0,8.7,71.0,0.0,Sabado,N
4,28079008,2022-01-01 04:00:00,2022.0,1.0,1.0,4,8.0,0.0,0.0,8.4,66.0,0.0,Sabado,N

## Salvar datos preprocesados

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43536 entries, 0 to 43535
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGO               43536 non-null  object
 1   FECHA                43536 non-null  datetime64[ns]
 2   ANO                  43536 non-null  float64
 3   MES                  43536 non-null  float64
 4   DIA                  43536 non-null  float64
 5   HORA                 43536 non-null  int64
 6   ESTACION             43536 non-null  float64
 7   VEL_VIENTO           43536 non-null  float64
 8   DIR_VIENTO           43536 non-null  float64
 9   TEMPERATURA          43536 non-null  float64
 10  HUMEDAD              43536 non-null  float64
 11  PRECIPITACION        43536 non-null  float64
 12  DIA_SEMANA           43536 non-null  object
 13  DIR_VIENTO_CARDINAL  43536 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(1), object(3)
memory usage: 4.7+ MB

In [68]:
data.head(2)

MAGNITUD,CODIGO,FECHA,ANO,MES,DIA,HORA,ESTACION,VEL_VIENTO,DIR_VIENTO,TEMPERATURA,HUMEDAD,PRECIPITACION,DIA_SEMANA,DIR_VIENTO_CARDINAL
0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,0,8.0,0.0,0.0,10.2,69.0,0.0,Sabado,N
1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,1,8.0,0.0,0.0,9.5,70.0,0.0,Sabado,N

In [69]:
data.isnull().sum()

MAGNITUD
CODIGO                 0
FECHA                  0
ANO                    0
MES                    0
DIA                    0
HORA                   0
ESTACION               0
VEL_VIENTO             0
DIR_VIENTO             0
TEMPERATURA            0
HUMEDAD                0
PRECIPITACION          0
DIA_SEMANA             0
DIR_VIENTO_CARDINAL    0
dtype: int64

In [23]:

data.to_csv('../data/auxiliar/meteo_2022.csv') # Salvado con todos los datos