## Importar librerías

In [1]:
import pandas as pd 
import numpy as np
import os
import data_util as util
from ydata_profiling import ProfileReport

## Cargar datos preprocesados previamente

In [2]:
ruta = '../data/auxiliar/aire_2022.csv'
ruta_nuevoCSV = '../data/calidad_aire_2022.csv'
df_aire = pd.read_csv(ruta)
df_aire.head(2)

,FECHA,ANO,MES,DIA,HORA,DIA_SEMANA,ESTACION,SO2,NO2,PM2.5,PM10,O3
0,2022-01-01 00:00:00,2022.0,1.0,1.0,0,Sabado,8.0,4.0,35.0,15.0,16.0,18.39
1,2022-01-01 01:00:00,2022.0,1.0,1.0,1,Sabado,8.0,4.0,48.0,25.0,27.0,8.18

In [3]:
ruta = '../data/auxiliar/meteo_2022.csv'
df_meteo = pd.read_csv(ruta)
df_meteo.head(2)

,FECHA,TEMPERATURA,PRECIPITACION,DIR_VIENTO,VEL_VIENTO,HORA
0,2022-01-01 00:00:00,11.1,0.0,NaN,NaN,0.0
1,2022-01-01 01:00:00,11.1,0.0,NaN,NaN,0.0

In [4]:
print(df_aire.shape)
print(df_meteo.shape)

(8760, 12)
(8737, 6)

## Fusionar Dataframe

* Mediante la función merge(), se fusionan los dataframe tomando como clave para la fusión la columna 'FECHA'

In [5]:
# Realizar la concatenación utilizando la columna 'fecha' como clave
df_cali_aire = pd.merge(df_aire, df_meteo, on='FECHA')

# Mostrar el DataFrame concatenado
df_cali_aire.head(2)

,FECHA,ANO,MES,DIA,HORA_x,DIA_SEMANA,ESTACION,SO2,NO2,PM2.5,PM10,O3,TEMPERATURA,PRECIPITACION,DIR_VIENTO,VEL_VIENTO,HORA_y
0,2022-01-01 00:00:00,2022.0,1.0,1.0,0,Sabado,8.0,4.0,35.0,15.0,16.0,18.39,11.1,0.0,NaN,NaN,0.0
1,2022-01-01 01:00:00,2022.0,1.0,1.0,1,Sabado,8.0,4.0,48.0,25.0,27.0,8.18,11.1,0.0,NaN,NaN,0.0

In [6]:
df_cali_aire.columns

Index(['FECHA', 'ANO', 'MES', 'DIA', 'HORA_x', 'DIA_SEMANA', 'ESTACION', 'SO2',
       'NO2', 'PM2.5', 'PM10', 'O3', 'TEMPERATURA', 'PRECIPITACION',
       'DIR_VIENTO', 'VEL_VIENTO', 'HORA_y'],
      dtype='object')

## Transformar columnas

* Eliminar la columna: 'HORA_y'
* Renombrar la columna: 'HORA_x'

In [7]:
df_cali_aire.drop(['HORA_y'], axis=1, inplace=True)
df_cali_aire.head(2)

,FECHA,ANO,MES,DIA,HORA_x,DIA_SEMANA,ESTACION,SO2,NO2,PM2.5,PM10,O3,TEMPERATURA,PRECIPITACION,DIR_VIENTO,VEL_VIENTO
0,2022-01-01 00:00:00,2022.0,1.0,1.0,0,Sabado,8.0,4.0,35.0,15.0,16.0,18.39,11.1,0.0,NaN,NaN
1,2022-01-01 01:00:00,2022.0,1.0,1.0,1,Sabado,8.0,4.0,48.0,25.0,27.0,8.18,11.1,0.0,NaN,NaN

In [8]:
df_cali_aire = df_cali_aire.rename(columns={'HORA_x': 'HORA'})
df_cali_aire.head(1)

,FECHA,ANO,MES,DIA,HORA,DIA_SEMANA,ESTACION,SO2,NO2,PM2.5,PM10,O3,TEMPERATURA,PRECIPITACION,DIR_VIENTO,VEL_VIENTO
0,2022-01-01 00:00:00,2022.0,1.0,1.0,0,Sabado,8.0,4.0,35.0,15.0,16.0,18.39,11.1,0.0,NaN,NaN

## Salvar datos

In [9]:
df_cali_aire.to_csv(ruta_nuevoCSV, index=False) # Salvado con todos los datos