In [40]:
import pandas as pd 
import numpy as np
import os
from ydata_profiling import ProfileReport

In [41]:
df_aire = pd.read_csv('../data/auxiliar/aire_2022.csv')
df_aire.head(2)

,Unnamed: 0,CODIGO,FECHA,ANO,MES,DIA,DIA_SEMANA,HORA,ESTACION,SO2,...,NO2,PM2.5,NOM_TIPO,LATITUD,LONGITUD,ICA_SO2,ICA_PM10,ICA_O3,ICA_NO2,ICA
0,0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,Sabado,0,8.0,4.0,...,35.0,15.0,Urbana tráfico,40.421553,-3.682316,3.2,32.0,15.32,87.5,34.51
1,1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,Sabado,1,8.0,4.0,...,48.0,25.0,Urbana tráfico,40.421553,-3.682316,3.2,54.0,6.82,120.0,46.00

In [42]:
df_aire.drop("Unnamed: 0", axis=1, inplace=True)
# df_aire = df_aire.rename(columns={'Unnamed: 0': 'ID'})
df_aire.head(2)

,CODIGO,FECHA,ANO,MES,DIA,DIA_SEMANA,HORA,ESTACION,SO2,PM10,...,NO2,PM2.5,NOM_TIPO,LATITUD,LONGITUD,ICA_SO2,ICA_PM10,ICA_O3,ICA_NO2,ICA
0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,Sabado,0,8.0,4.0,16.0,...,35.0,15.0,Urbana tráfico,40.421553,-3.682316,3.2,32.0,15.32,87.5,34.51
1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,Sabado,1,8.0,4.0,27.0,...,48.0,25.0,Urbana tráfico,40.421553,-3.682316,3.2,54.0,6.82,120.0,46.00

In [43]:
df_aire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43536 entries, 0 to 43535
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODIGO      43536 non-null  int64
 1   FECHA       43536 non-null  object
 2   ANO         43536 non-null  float64
 3   MES         43536 non-null  float64
 4   DIA         43536 non-null  float64
 5   DIA_SEMANA  43536 non-null  object
 6   HORA        43536 non-null  int64
 7   ESTACION    43536 non-null  float64
 8   SO2         25293 non-null  float64
 9   PM10        32016 non-null  float64
 10  O3          34320 non-null  float64
 11  NO2         43097 non-null  float64
 12  PM2.5       16127 non-null  float64
 13  NOM_TIPO    43536 non-null  object
 14  LATITUD     43536 non-null  float64
 15  LONGITUD    43536 non-null  float64
 16  ICA_SO2     25293 non-null  float64
 17  ICA_PM10    32016 non-null  float64
 18  ICA_O3      34320 non-null  float64
 19  ICA_NO2     43097 non-null  float64
 20  ICA         43318 non-null  float64
dtypes: float64(16), int64(2), object(3)
memory usage: 7.0+ MB

In [44]:
df_meteo = pd.read_csv('../data/auxiliar/meteo_2022.csv')
df_meteo.head(2)

,Unnamed: 0,CODIGO,FECHA,ANO,MES,DIA,HORA,ESTACION,VEL_VIENTO,DIR_VIENTO,TEMPERATURA,HUMEDAD,PRECIPITACION,DIA_SEMANA,DIR_VIENTO_CARDINAL
0,0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,0,8.0,0.0,0.0,10.2,69.0,0.0,Sabado,N
1,1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,1,8.0,0.0,0.0,9.5,70.0,0.0,Sabado,N

In [45]:
df_meteo.drop("Unnamed: 0", axis=1, inplace=True)
df_meteo.head(2)

,CODIGO,FECHA,ANO,MES,DIA,HORA,ESTACION,VEL_VIENTO,DIR_VIENTO,TEMPERATURA,HUMEDAD,PRECIPITACION,DIA_SEMANA,DIR_VIENTO_CARDINAL
0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,0,8.0,0.0,0.0,10.2,69.0,0.0,Sabado,N
1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,1,8.0,0.0,0.0,9.5,70.0,0.0,Sabado,N

In [46]:
df_cali_aire = pd.concat([df_aire, df_meteo], ignore_index=True)
df_cali_aire.head(2)

,CODIGO,FECHA,ANO,MES,DIA,DIA_SEMANA,HORA,ESTACION,SO2,PM10,...,ICA_PM10,ICA_O3,ICA_NO2,ICA,VEL_VIENTO,DIR_VIENTO,TEMPERATURA,HUMEDAD,PRECIPITACION,DIR_VIENTO_CARDINAL
0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,Sabado,0,8.0,4.0,16.0,...,32.0,15.32,87.5,34.51,NaN,NaN,NaN,NaN,NaN,NaN
1,28079008,2022-01-01 01:00:00,2022.0,1.0,1.0,Sabado,1,8.0,4.0,27.0,...,54.0,6.82,120.0,46.00,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df_cali_aire.columns

Index(['CODIGO', 'FECHA', 'ANO', 'MES', 'DIA', 'DIA_SEMANA', 'HORA',
       'ESTACION', 'SO2', 'PM10', 'O3', 'NO2', 'PM2.5', 'NOM_TIPO', 'LATITUD',
       'LONGITUD', 'ICA_SO2', 'ICA_PM10', 'ICA_O3', 'ICA_NO2', 'ICA',
       'VEL_VIENTO', 'DIR_VIENTO', 'TEMPERATURA', 'HUMEDAD', 'PRECIPITACION',
       'DIR_VIENTO_CARDINAL'],
      dtype='object')

In [48]:
df_cali_aire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87072 entries, 0 to 87071
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGO               87072 non-null  int64
 1   FECHA                87072 non-null  object
 2   ANO                  87072 non-null  float64
 3   MES                  87072 non-null  float64
 4   DIA                  87072 non-null  float64
 5   DIA_SEMANA           87072 non-null  object
 6   HORA                 87072 non-null  int64
 7   ESTACION             87072 non-null  float64
 8   SO2                  25293 non-null  float64
 9   PM10                 32016 non-null  float64
 10  O3                   34320 non-null  float64
 11  NO2                  43097 non-null  float64
 12  PM2.5                16127 non-null  float64
 13  NOM_TIPO             43536 non-null  object
 14  LATITUD              43536 non-null  float64
 15  LONGITUD             43536 non-null  float64
 16  ICA_SO2              25293 non-null  float64
 17  ICA_PM10             32016 non-null  float64
 18  ICA_O3               34320 non-null  float64
 19  ICA_NO2              43097 non-null  float64
 20  ICA                  43318 non-null  float64
 21  VEL_VIENTO           43536 non-null  float64
 22  DIR_VIENTO           43536 non-null  float64
 23  TEMPERATURA          43536 non-null  float64
 24  HUMEDAD              43536 non-null  float64
 25  PRECIPITACION        43536 non-null  float64
 26  DIR_VIENTO_CARDINAL  43536 non-null  object
dtypes: float64(21), int64(2), object(4)
memory usage: 17.9+ MB

In [49]:
df_cali_aire.describe()

,CODIGO,ANO,MES,DIA,HORA,ESTACION,SO2,PM10,O3,NO2,...,ICA_SO2,ICA_PM10,ICA_O3,ICA_NO2,ICA,VEL_VIENTO,DIR_VIENTO,TEMPERATURA,HUMEDAD,PRECIPITACION
count,8.707200e+04,87072.0,87072.000000,87072.000000,87072.000000,87072.000000,25293.000000,32016.000000,34320.000000,43097.000000,...,25293.000000,32016.000000,34320.000000,43097.000000,43318.000000,43536.000000,43536.000000,43536.000000,43536.000000,43536.000000
mean,2.807902e+07,2022.0,6.513782,15.671444,11.500000,24.135061,3.923457,20.588893,53.186394,27.915377,...,3.138766,41.177786,44.321938,69.788442,44.316062,0.558470,104.555563,17.079594,56.993959,0.008687
std,1.054821e+01,0.0,3.452896,8.796041,6.922226,10.548210,2.599695,25.163326,31.391461,20.829082,...,2.079756,50.326652,26.159542,52.072706,21.480294,0.691494,99.752800,9.207036,20.847474,0.154183
min,2.807901e+07,2022.0,1.000000,1.000000,0.000000,8.000000,0.000000,1.000000,0.710000,1.000000,...,0.000000,2.000000,0.590000,2.500000,0.890000,0.000000,0.000000,-8.400000,6.000000,0.000000
25%,2.807902e+07,2022.0,4.000000,8.000000,5.750000,18.000000,2.000000,9.000000,29.370000,12.000000,...,1.600000,18.000000,24.480000,30.000000,31.650000,0.000000,0.000000,9.900000,41.000000,0.000000
50%,2.807902e+07,2022.0,7.000000,16.000000,11.500000,24.000000,4.000000,16.000000,53.750000,22.000000,...,3.200000,32.000000,44.790000,55.000000,40.370000,0.670000,123.000000,15.900000,63.000000,0.000000
75%,2.807904e+07,2022.0,10.000000,23.000000,17.250000,35.000000,5.000000,25.000000,74.080000,38.000000,...,4.000000,50.000000,61.730000,95.000000,52.770000,0.670000,195.000000,24.200000,68.000000,0.000000
max,2.807904e+07,2022.0,12.000000,31.000000,23.000000,36.000000,41.000000,678.000000,198.660000,172.000000,...,32.800000,1356.000000,165.550000,430.000000,468.630000,7.340000,359.000000,42.200000,100.000000,12.100000

## Profiling

In [50]:
# profile = ProfileReport(df_cali_aire, title="Pandas Profiling Report")
# profile

In [51]:
df_cali_aire.shape

(87072, 27)

In [52]:
df_cali_aire.to_csv('../data/calidad_aire_2022.csv') # Salvado con todos los datos