In [1]:
import pandas as pd
import numpy as np
from data_util import calcular_ICA
from ydata_profiling import ProfileReport

In [2]:
df = pd.read_csv('../data/calidad_aire_2022_clean.csv', delimiter=',')
df.head(2)

,Unnamed: 0,CODIGO,FECHA,ANO,MES,DIA,DIA_SEMANA,HORA,ESTACION,SO2,...,ICA_PM10,ICA_O3,ICA_NO2,ICA,VEL_VIENTO,DIR_VIENTO,TEMPERATURA,HUMEDAD,PRECIPITACION,DIR_VIENTO_CARDINAL
0,0,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,Sabado,0,8.0,4.0,...,32.0,15.32,87.5,34.51,0.67,123.0,15.9,63.0,0.0,SD
1,1,28079008,2022-01-01 00:00:00,2022.0,1.0,1.0,Sabado,0,8.0,4.0,...,32.0,15.32,87.5,34.51,0.67,123.0,15.9,63.0,0.0,SD

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174144 entries, 0 to 174143
Data columns (total 28 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           174144 non-null  int64
 1   CODIGO               174144 non-null  int64
 2   FECHA                174144 non-null  object
 3   ANO                  174144 non-null  float64
 4   MES                  174144 non-null  float64
 5   DIA                  174144 non-null  float64
 6   DIA_SEMANA           174144 non-null  object
 7   HORA                 174144 non-null  int64
 8   ESTACION             174144 non-null  float64
 9   SO2                  174144 non-null  float64
 10  PM10                 174144 non-null  float64
 11  O3                   174144 non-null  float64
 12  NO2                  174144 non-null  float64
 13  PM2.5                174144 non-null  float64
 14  NOM_TIPO             174144 non-null  object
 15  LATITUD              174144 non-null  object
 16  LONGITUD             174144 non-null  object
 17  ICA_SO2              174144 non-null  float64
 18  ICA_PM10             174144 non-null  float64
 19  ICA_O3               174144 non-null  float64
 20  ICA_NO2              174144 non-null  float64
 21  ICA                  174144 non-null  float64
 22  VEL_VIENTO           174144 non-null  float64
 23  DIR_VIENTO           174144 non-null  float64
 24  TEMPERATURA          174144 non-null  float64
 25  HUMEDAD              174144 non-null  float64
 26  PRECIPITACION        174144 non-null  float64
 27  DIR_VIENTO_CARDINAL  174144 non-null  object
dtypes: float64(19), int64(3), object(6)
memory usage: 37.2+ MB