In [1]:
import pandas as pd
import os

In [2]:
df_estaciones = pd.read_csv('../data/Estaciones_control_datos_meteorologicos.csv', delimiter=';')
df_estaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CÓDIGO               26 non-null     int64
 1   CÓDIGO_CORTO         26 non-null     int64
 2   ESTACIÓN             26 non-null     object
 3   DIRECCION            26 non-null     object
 4   LONGITUD_ETRS89      26 non-null     object
 5   LATITUD_ETRS89       26 non-null     object
 6   ALTITUD              26 non-null     int64
 7   VV (81)              10 non-null     object
 8   DV (82)              10 non-null     object
 9   T (83)               25 non-null     object
 10  HR (86)              23 non-null     object
 11  PB (87)              8 non-null      object
 12  RS (88)              8 non-null      object
 13  P (89)               10 non-null     object
 14  COD_VIA              25 non-null     float64
 15  VIA_CLASE            26 non-null     object
 16  VIA_PAR              22 non-null     object
 17  VIA_NOMBRE           26 non-null     object
 18  NUM_VIA              11 non-null     object
 19  COORDENADA_X_ETRS89  26 non-null     object
 20  COORDENADA_Y_ETRS89  26 non-null     object
 21  LONGITUD             26 non-null     object
 22  LATITUD              26 non-null     object
dtypes: float64(1), int64(3), object(19)
memory usage: 4.8+ KB

In [3]:
df_estaciones.head(2)

,CÓDIGO,CÓDIGO_CORTO,ESTACIÓN,DIRECCION,LONGITUD_ETRS89,LATITUD_ETRS89,ALTITUD,VV (81),DV (82),T (83),...,P (89),COD_VIA,VIA_CLASE,VIA_PAR,VIA_NOMBRE,NUM_VIA,COORDENADA_X_ETRS89,COORDENADA_Y_ETRS89,LONGITUD,LATITUD
0,28079004,4,Plaza España,Plaza de España,"3°42'43.91""O","40°25'25.98""N",637,NaN,NaN,X,...,NaN,273600.0,PLAZA,DE,ESPAÑA,NaN,"439579,3291","4475049,263",-37.122.567,404.238.823
1,28079008,8,Escuelas Aguirre,Entre C/ Alcalá y C/ O’ Donell,"3°40'56.22""O","40°25'17.63""N",672,NaN,NaN,X,...,NaN,18900.0,CALLE,DE,ALCALA,NaN,"442117,2366","4474770,696",-36.823.158,404.215.533

In [4]:
file_names = os.listdir('../data/metereologia/')
file_names

['meteo19.csv', 'meteo20.csv', 'meteo21.csv', 'meteo22.csv', 'meteo23.csv']

In [5]:
df_meteo = pd.DataFrame()
for file_name in file_names:
    df_current = pd.read_csv('../data/metereologia/' + file_name, delimiter=';')
    print(file_name, df_current.shape)
    df_meteo = pd.concat([df_meteo, df_current], ignore_index=True)

meteo19.csv (1130, 69)
meteo20.csv (1092, 69)
meteo21.csv (1052, 69)
meteo22.csv (933, 69)
meteo23.csv (376, 69)

In [6]:
df_meteo.shape

(4583, 69)

In [8]:
df_meteo.head(2)

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,102,81,28079102_81_98,2019,1,0.66,V,1.16,...,2.57,V,2.93,V,3.23,V,3.18,V,4.72,V
1,28,79,102,81,28079102_81_98,2019,2,4.32,V,2.98,...,1.36,V,0.97,V,0.00,N,0.00,N,0.00,N

In [9]:
df_meteo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4583 entries, 0 to 4582
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       4583 non-null   int64
 1   MUNICIPIO       4583 non-null   int64
 2   ESTACION        4583 non-null   int64
 3   MAGNITUD        4583 non-null   int64
 4   PUNTO_MUESTREO  4583 non-null   object
 5   ANO             4583 non-null   int64
 6   MES             4583 non-null   int64
 7   D01             4583 non-null   float64
 8   V01             4583 non-null   object
 9   D02             4583 non-null   float64
 10  V02             4583 non-null   object
 11  D03             4583 non-null   float64
 12  V03             4583 non-null   object
 13  D04             4583 non-null   float64
 14  V04             4583 non-null   object
 15  D05             4583 non-null   float64
 16  V05             4583 non-null   object
 17  D06             4583 non-null   float64
 18  V06             4583 non-null   object
 19  D07             4583 non-null   float64
 20  V07             4583 non-null   object
 21  D08             4583 non-null   float64
 22  V08             4583 non-null   object
 23  D09             4583 non-null   float64
 24  V09             4583 non-null   object
 25  D10             4583 non-null   float64
 26  V10             4583 non-null   object
 27  D11             4583 non-null   float64
 28  V11             4583 non-null   object
 29  D12             4583 non-null   float64
 30  V12             4583 non-null   object
 31  D13             4583 non-null   float64
 32  V13             4583 non-null   object
 33  D14             4583 non-null   float64
 34  V14             4583 non-null   object
 35  D15             4583 non-null   float64
 36  V15             4583 non-null   object
 37  D16             4583 non-null   float64
 38  V16             4583 non-null   object
 39  D17             4583 non-null   float64
 40  V17             4583 non-null   object
 41  D18             4583 non-null   float64
 42  V18             4583 non-null   object
 43  D19             4583 non-null   float64
 44  V19             4583 non-null   object
 45  D20             4583 non-null   float64
 46  V20             4583 non-null   object
 47  D21             4583 non-null   float64
 48  V21             4583 non-null   object
 49  D22             4583 non-null   float64
 50  V22             4583 non-null   object
 51  D23             4583 non-null   float64
 52  V23             4583 non-null   object
 53  D24             4583 non-null   float64
 54  V24             4583 non-null   object
 55  D25             4583 non-null   float64
 56  V25             4583 non-null   object
 57  D26             4583 non-null   float64
 58  V26             4583 non-null   object
 59  D27             4583 non-null   float64
 60  V27             4583 non-null   object
 61  D28             4583 non-null   float64
 62  V28             4583 non-null   object
 63  D29             4583 non-null   float64
 64  V29             4583 non-null   object
 65  D30             4583 non-null   float64
 66  V30             4583 non-null   object
 67  D31             4583 non-null   float64
 68  V31             4583 non-null   object
dtypes: float64(31), int64(6), object(32)
memory usage: 2.4+ MB