In [37]:
import pandas as pd
import os

In [38]:
file_names = os.listdir('../data/trafico/no_permanente/')
file_names

['2018_DATOS_AFOROS_NP.csv',
 '2018_LISTADO_UBICACIONES_NP.csv',
 '2019_DATOS_AFOROS_NP.csv',
 '2019_LISTADO_UBICACIONES_NP.csv',
 '2020_DATOS_AFOROS_NP.csv',
 '2020_LISTADO_UBICACIONES_NP.csv',
 '2021_DATOS_AFOROS_NP.csv',
 '2021_LISTADO_UBICACIONES_NP.csv']

In [39]:
df_ubicacion = pd.DataFrame()
for file_name in file_names:
    df_current = pd.read_csv('../data/trafico/no_permanente/' + file_name, delimiter=';')
    print(file_name, df_current.shape)
    df_ubicacion = pd.concat([df_ubicacion, df_current], ignore_index=True)

C:\Users\emona\AppData\Local\Temp\ipykernel_8024\74740823.py:3: DtypeWarning: Columns (0,2,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  df_current = pd.read_csv('../data/trafico/no_permanente/' + file_name, delimiter=';')

2018_DATOS_AFOROS_NP.csv (273356, 68)
2018_LISTADO_UBICACIONES_NP.csv (1682, 8)

C:\Users\emona\AppData\Local\Temp\ipykernel_8024\74740823.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_current = pd.read_csv('../data/trafico/no_permanente/' + file_name, delimiter=';')

2019_DATOS_AFOROS_NP.csv (348084, 66)
2019_LISTADO_UBICACIONES_NP.csv (2116, 8)

C:\Users\emona\AppData\Local\Temp\ipykernel_8024\74740823.py:3: DtypeWarning: Columns (0,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_current = pd.read_csv('../data/trafico/no_permanente/' + file_name, delimiter=';')

2020_DATOS_AFOROS_NP.csv (682147, 67)
2020_LISTADO_UBICACIONES_NP.csv (3528, 8)

C:\Users\emona\AppData\Local\Temp\ipykernel_8024\74740823.py:3: DtypeWarning: Columns (0,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_current = pd.read_csv('../data/trafico/no_permanente/' + file_name, delimiter=';')

2021_DATOS_AFOROS_NP.csv (282864, 66)
2021_LISTADO_UBICACIONES_NP.csv (1898, 8)

In [40]:
df_ubicacion.shape

(1595675, 74)

In [41]:
file_names = os.listdir('../data/trafico/no_permanente/')
file_names

['2018_DATOS_AFOROS_NP.csv',
 '2018_LISTADO_UBICACIONES_NP.csv',
 '2019_DATOS_AFOROS_NP.csv',
 '2019_LISTADO_UBICACIONES_NP.csv',
 '2020_DATOS_AFOROS_NP.csv',
 '2020_LISTADO_UBICACIONES_NP.csv',
 '2021_DATOS_AFOROS_NP.csv',
 '2021_LISTADO_UBICACIONES_NP.csv']

In [42]:
df_trafico = pd.DataFrame()
for file_name in file_names:
    df_current = pd.read_csv('../data/trafico/no_permanente/' + file_name, delimiter=';')
    print(file_name, df_current.shape)
    df_trafico = pd.concat([df_trafico, df_current], ignore_index=True)

C:\Users\emona\AppData\Local\Temp\ipykernel_8024\3419258039.py:3: DtypeWarning: Columns (0,2,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  df_current = pd.read_csv('../data/trafico/no_permanente/' + file_name, delimiter=';')

2018_DATOS_AFOROS_NP.csv (273356, 68)
2018_LISTADO_UBICACIONES_NP.csv (1682, 8)

C:\Users\emona\AppData\Local\Temp\ipykernel_8024\3419258039.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_current = pd.read_csv('../data/trafico/no_permanente/' + file_name, delimiter=';')

2019_DATOS_AFOROS_NP.csv (348084, 66)
2019_LISTADO_UBICACIONES_NP.csv (2116, 8)

C:\Users\emona\AppData\Local\Temp\ipykernel_8024\3419258039.py:3: DtypeWarning: Columns (0,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_current = pd.read_csv('../data/trafico/no_permanente/' + file_name, delimiter=';')

2020_DATOS_AFOROS_NP.csv (682147, 67)
2020_LISTADO_UBICACIONES_NP.csv (3528, 8)

C:\Users\emona\AppData\Local\Temp\ipykernel_8024\3419258039.py:3: DtypeWarning: Columns (0,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_current = pd.read_csv('../data/trafico/no_permanente/' + file_name, delimiter=';')

2021_DATOS_AFOROS_NP.csv (282864, 66)
2021_LISTADO_UBICACIONES_NP.csv (1898, 8)

In [43]:
df_trafico.shape

(1595675, 74)

In [44]:
df_trafico.head(2)

,CODIGO,LATITUD,LONGITUD,FECHA,HORA,TOTAL,VEHICULOS LIGEROS,VEHICULOS 2 RUEDAS,VEHICULOS PESADOS,VEHIC. DESCONOCIDO,...,VEHIC. 2 RUEDAS VEL_100-110,VEHIC. DESCONOCIDO VEL_100-110,Unnamed: 66,VEHIC. DESCONOCIDO VEL_100-110.1,NOMBRE CRUCE,TRAMO,SENTIDO,DESDE,HASTA,VEHIC. 2 RUEDAS
0,1010163,40.41567,-3.71357,19/04/2018,13.0,89.0,89.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1010163,40.41567,-3.71357,19/04/2018,14.0,68.0,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df_trafico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1595675 entries, 0 to 1595674
Data columns (total 74 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   CODIGO                            1594806 non-null  object
 1   LATITUD                           1593666 non-null  object
 2   LONGITUD                          1593666 non-null  object
 3   FECHA                             1579291 non-null  object
 4   HORA                              1579291 non-null  object
 5   TOTAL                             1579236 non-null  object
 6   VEHICULOS LIGEROS                 987189 non-null   object
 7   VEHICULOS 2 RUEDAS                119691 non-null   float64
 8   VEHICULOS PESADOS                 102109 non-null   float64
 9   VEHIC. DESCONOCIDO                120429 non-null   float64
 10  VEL_0-10                          125387 non-null   float64
 11  VEL_10-20                         125387 non-null   float64
 12  VEL_20-30                         125387 non-null   float64
 13  VEL_30-40                         125387 non-null   float64
 14  VEL_40-50                         125387 non-null   float64
 15  VEL_50-60                         125387 non-null   float64
 16  VEL_60-70                         125387 non-null   float64
 17  VEL_70-80                         125387 non-null   float64
 18  VEL_80-90                         125387 non-null   float64
 19  VEL_90-100                        125387 non-null   float64
 20  VEL_100-110                       128503 non-null   float64
 21  VEL_110-120                       15968 non-null    float64
 22  VEHICULOS LIGEROS VEL_0-10        113159 non-null   object
 23  VEHICULOS PESADOS VEL_0-10        113159 non-null   object
 24  VEHIC. 2 RUEDAS VEL_0-10          113159 non-null   float64
 25  VEHIC. DESCONOCIDO VEL_0-10       113159 non-null   float64
 26  VEHICULOS LIGEROS VEL_10-20       113159 non-null   object
 27  VEHICULOS PESADOS VEL_10-20       113159 non-null   object
 28  VEHIC. 2 RUEDAS VEL_10-20         113159 non-null   float64
 29  VEHIC. DESCONOCIDO VEL_10-20      113159 non-null   float64
 30  VEHICULOS LIGEROS VEL_20-30       113159 non-null   object
 31  VEHICULOS PESADOS VEL_20-30       113159 non-null   object
 32  VEHIC. 2 RUEDAS VEL_20-30         113159 non-null   float64
 33  VEHIC. DESCONOCIDO VEL_20-30      113159 non-null   float64
 34  VEHICULOS LIGEROS VEL_30-40       113159 non-null   object
 35  VEHICULOS PESADOS VEL_30-40       113159 non-null   object
 36  VEHIC. 2 RUEDAS VEL_30-40         113159 non-null   float64
 37  VEHIC. DESCONOCIDO VEL_30-40      113159 non-null   float64
 38  VEHICULOS LIGEROS VEL_40-50       113159 non-null   object
 39  VEHICULOS PESADOS VEL_40-50       113159 non-null   object
 40  VEHIC. 2 RUEDAS VEL_40-50         113159 non-null   float64
 41  VEHIC. DESCONOCIDO VEL_40-50      113159 non-null   float64
 42  VEHICULOS LIGEROS VEL_50-60       113159 non-null   object
 43  VEHICULOS PESADOS VEL_50-60       113159 non-null   object
 44  VEHIC. 2 RUEDAS VEL_50-60         113159 non-null   float64
 45  VEHIC. DESCONOCIDO VEL_50-60      113159 non-null   float64
 46  VEHICULOS LIGEROS VEL_60-70       113159 non-null   object
 47  VEHICULOS PESADOS VEL_60-70       113159 non-null   object
 48  VEHIC. 2 RUEDAS VEL_60-70         113159 non-null   float64
 49  VEHIC. DESCONOCIDO VEL_60-70      113159 non-null   float64
 50  VEHICULOS LIGEROS VEL_70-80       113159 non-null   object
 51  VEHICULOS PESADOS VEL_70-80       113159 non-null   object
 52  VEHIC. 2 RUEDAS VEL_70-80         113159 non-null   float64
 53  VEHIC. DESCONOCIDO VEL_70-80      113159 non-null   float64
 54  VEHICULOS LIGEROS VEL_80-90       113159 non-null   object
 55  VEHICULOS PESADOS VEL_80-90       113159 non-null   object
 56  VEHIC. 2 RUEDAS VEL_80-90         113159 non-null   float64
 57  VEHIC. DESCONOCIDO VEL_80-90      113159 non-null   float64
 58  VEHICULOS LIGEROS VEL_90-100      113159 non-null   object
 59  VEHICULOS PESADOS VEL_90-100      113159 non-null   object
 60  VEHIC. 2 RUEDAS VEL_90-100        110043 non-null   float64
 61  VEHIC. DESCONOCIDO VEL_90-100     110043 non-null   float64
 62  VEHICULOS LIGEROS VEL_100-110     110043 non-null   object
 63  VEHICULOS PESADOS VEL_100-110     110043 non-null   object
 64  VEHIC. 2 RUEDAS VEL_100-110       110043 non-null   float64
 65  VEHIC. DESCONOCIDO VEL_100-110    110043 non-null   float64
 66  Unnamed: 66                       69056 non-null    float64
 67  VEHIC. DESCONOCIDO VEL_100-110.1  69056 non-null    float64
 68  NOMBRE CRUCE                      9011 non-null     object
 69  TRAMO                             9011 non-null     object
 70  SENTIDO                           9009 non-null     object
 71  DESDE                             9011 non-null     object
 72  HASTA                             9011 non-null     object
 73  VEHIC. 2 RUEDAS                   6504 non-null     float64
dtypes: float64(40), object(34)
memory usage: 900.9+ MB