In [4]:
import pandas as pd

In [5]:
pd.read_excel('../data/Vehiculos/Parquevehiculos2014.xlsx')

,"'V.4. Parque de vehículos, distribuidos por provincias y tipos'",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PROVINCIAS,CAMIONES y\nFURGONETAS,AUTOBUSES,TURISMOS,MOTOCICLETAS,TRACTORES\nINDUSTRIALES,R Y S,OTROS\nVEHÍCULOS,TOTAL
2,Araba/Álava,30265,523,148436,14074,1116,2881,4884,202179
3,Albacete,50546,384,177725,22681,3013,5319,5533,265201
4,Alicante/Alacant,179510,1551,899419,130066,4751,12254,11801,1239352
5,Almeria,93560,721,320097,39479,6656,10314,8508,479335
6,Avila,25504,118,83647,7859,903,1862,4001,123894
7,Badajoz,75444,670,341462,29277,2967,7244,10152,467216
8,Balears (Illes),131739,2383,652297,113440,1892,6710,8141,916602
9,Barcelona,484340,5902,2347766,551787,14046,49296,42712,3495849
10,Burgos,36584,458,180511,15022,2817,5237,7496,248125
11,Caceres,60862,573,203174,18518,1294,3636,7874,295931
12,Cadiz,91593,1061,530771,83767,2815,6519,8739,725265
13,Castellon/Castello,73015,471,283667,35274,3684,6198,5760,408069
14,Ciudad Real,69266,462,228887,22480,3646,5810,7795,338346
15,Cordoba,90921,701,348476,47030,2745,7203,8452,505528
16,Coruña (A),83620,1660,583760,46298,4043,9081,12287,740749
17,Cuenca,36582,341,103362,10476,3147,4186,5977,164071
18,Girona,112926,1069,377695,80618,3015,7691,10391,593405
19,Granada,109094,1134,424370,83306,3249,6319,9276,636748
20,Guadalajara,29860,229,124225,14102,1315,2516,4046,176293
21,Gipuzkoa,65270,904,304802,52588,3065,8528,7351,442508
22,Huelva,50460,652,229151,23279,1786,4370,5679,315377
23,Huesca,37389,346,109190,12576,1771,3673,6234,171179
24,Jaen,107843,523,267484,33508,2791,6247,9868,428264
25,Leon,58041,658,247411,23717,2538,5306,9126,346797
26,Lleida,62573,493,211187,27665,3913,8705,9452,323988
27,Rioja (La),38777,256,134699,14229,1502,3083,4884,197430
28,Lugo,40927,771,189975,15346,2621,5212,7048,261900
29,Madrid,573359,10232,3256265,307722,17476,29653,35778,4230485
30,Malaga,167050,1627,745361,129792,3746,8974,12572,1069122
31,Murcia,151774,1658,685074,95998,11468,19603,12225,977800
32,Navarra,77899,817,299536,31224,4043,8543,10118,432180
33,Ourense,38847,964,177583,14831,1551,3239,5062,242077
34,Asturias,88794,1384,493570,50269,3850,9495,12755,660117
35,Palencia,17494,258,86463,7475,1401,2602,3556,119249
36,Palmas (Las),171036,2561,510628,54730,2178,7572,10093,758798
37,Pontevedra,80970,1192,500572,61638,3938,8267,12837,669414
38,Salamanca,34742,501,164950,14736,1295,3157,4652,224033
39,Santa Cruz de Tenerife,173039,2738,497777,53065,1903,5477,8764,742763
40,Cantabria,56275,602,287067,34446,3142,7898,6685,396115
41,Segovia,21508,280,83777,7422,1164,2362,3670,120183
42,Sevilla,145682,1939,870972,118101,7149,15700,14957,1174500
43,Soria,13971,100,46593,4318,858,2377,2699,70916
44,Tarragona,100741,1060,372948,63188,3351,8675,10280,560243
45,Teruel,24421,119,68285,6937,1260,2589,3468,107079
46,Toledo,93218,701,345662,29417,3665,6364,11061,490088
47,Valencia/València,228402,2358,1172921,170977,13084,26627,17991,1632360
48,Valladolid,39764,553,248839,26786,2700,5461,5741,329844
49,Bizkaia,87426,1751,493456,48239,3450,8054,10680,653056
50,Zamora,22966,234,95650,8738,1052,2507,3933,135080
51,Zaragoza,83796,1042,389536,47685,5094,11850,11580,550583
52,Ceuta,7732,56,40703,10420,62,224,593,59790
53,Melilla,12067,58,41678,5549,79,485,655,60571
54,Total,4839484,59799,22029512,2972165,186060,413155,475872,30976047